# dependencies
node_modules/

# next build
.next/
out/

# local env & DB
.env
dev.db
*.db

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# prismaclient
.prisma/

# editor files
.vscode/
.DS_Store

# MCP Settings
cline_mcp_settings.json

# TheORQL
.theORQL/